{% extends 'base_html/base.html' %}

{% block titulo %}
Restablecer Contraseña
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_registro_restablecer.css')}}">
{% endblock %}

{%block contenido %}
<section class="contact-box text-light">

    <div class="row no-gutters bg-dark">

        <div class="col-xl-5 col-lg-12 register-bg">

            <div class="position-absolute testimonial p-4">
                <h3 class="font-weight-bold text-light bc">Traductor inga</h3>
                <p class="lead text-light bc">¡La riqueza de nuestras culturas!</p>
            </div>
        </div>


        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container align-self-center p-6">
                <h2 class="font-weight-bold mb-3">Cambio de contraseña</h2>
                <div class="flash">
                    <p class="card-text mt-5 text-center" >
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                            <ul class="alert alert-danger text-center">
                                {% for message in messages %}
                                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["bueno"]) %}
                            {% if messages %}
                            <ul class="alert alert-success text-center">
                                {% for message in messages %}
                                <li style="padding-left: 10px; list-style: none;"><small>{{message}}</small></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}   
                    </p>
                </div>

                <form action="{{url_for('newPassword')}}" method="POST">

                    <div class="form-group mb-3">
                        <label class="font-weight-bold">Contraseña <span class="text-danger">*</span></label>
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="password" class="form-control" name="password" placeholder="Ingresa una contraseña" value="{{password}}">
                    </div>

                    <div class="form-group mb-3">
                        <label class="font-weight-bold">Repetir Contraseña <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="password_verificacion" placeholder="Repetir contraseña"
                            value="{{password_verificacion}}">
                    </div>
                    
                    <div class="msg">{{ msg }}</div>

                    <div class="form-group mb-5">
                        <button type="submit" class="btn btn-light d-inline text-dark mr-2 mb-3 width-100"><i
                            class="icon ion-md-person lead align-middle mr-2"></i> Restablecer</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}