body{
    background-color: #eeeeee;
  
    position: relative;
    background-image: linear-gradient(#4a14fa87, #b3328878 100%), url(../img/inicio/inicio_4.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100vh;
  

}


.icono-itp {
    border-radius: 10%;
}

/*logos*/
.brandd img{
    width: 60px;
    height:60px;
    background-size: cover;
}

.branddd img{
    width: 60px;
    height:60px;
    background-size: cover;
}




.bg-withe{
    background: #ffffff !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar{
    background-color:#393e46;
    position:fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #fdbb2dd6; 

}





 
.Text-hero{
    
    color: #00fff7;
    font-family: '';
    padding: 100px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

.Text-hero h3{
    font-size: 50px;  
    letter-spacing: .2em;  
}

.Text-hero h5{
    font-size: 80px;  /*tamaño de fuente */
    letter-spacing: .2em;  /* espacio de letras */
/*  font-weight: bold;   peso de la fuente negrita*/
    /* pantalla flexible*/
}

.Text-hero a{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 23px;
     /*relleno  alto y ancho  tambien espaceador */   
    text-decoration: none;  /* quita la rayita  de la referencia */
    border-radius: 5px;  /* silueta del boton*/
    
   
}

/*link del nadvar pagina de inicio*/
.navbar-nav a{
    font-family: 'Montserrat';
    color:#000000;
    font-size: 20px;
     /*relleno  alto y ancho  tambien espaceador */   
    text-decoration: none;  /* quita la rayita  de la referencia */
    border-radius: 5px;
    font-weight: 900;
    opacity: 39;
}


.nav-link {
    color: rgb(0, 0, 0);
}

.navbar a:hover{
    background: linear-gradient(180deg, #fd7a7ae1 0%, #15e4ffec 100%);
    border-radius: 1%;
}


.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
   
}


.Galeria .row img{
    width: 100%;
    height: 250px;
}


/*tamaño del logo*/

.brand img{
    width: 80px;
    height: 50px;
    background-size: cover;
}



.card {
    padding-top: 5px;
    background: hsla(178, 93%, 62%, 0.952) !important;
    height: min-content;
    border-radius: 5px;
    
}

.img{
    border-color: #393e46;
    border-radius: 5px;
    background-size:contain;
}




footer {
    background-color: rgb(0, 142, 171);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: rgb(250, 250, 250);
}

/* para la parte de abajo de recuadro*/
.card-body{
    background: linear-gradient(160deg, #842fb9d3 0%, #f91492c3 100%);
    border-radius: 50% 10em/ 10% 20em;

}

.navbar{
    background: linear-gradient(160deg, #32e0f0 0%, #6ced2c 100%);
    color: #000000;

    
}

.dropdown-menu {

background: linear-gradient(160deg, #f41ec6bc 0%, #31a7d980 100%);
border-radius:50%;

}
