:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6fB;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 290;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #636363);
    background: linear-gradient(to right, #919191, #5e5c5c);
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.dark-x{
    background-color: var(--color-dark-x) !important;
}

.dark-xx{
    background-color: var(--color-dark-xx) !important;
}

.p-6 {
    padding: 2rem 6rem;
}

.contact-box {
    padding: 4rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 13rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}



.register-bg {
    background-image: url(/static/img/login/collar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
}

.bc {
    background-color: var(--color-dark-x);
}

.testimonial {
    bottom: 70px;
}

.contenedor {
    position: relative;
}
  
.inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -450px; 
}

.titulo{
    font-size: 14rem;
}

.flash {
    margin: 0 auto;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1000px){
    .register-bg{
        min-height: 50vh;
    }

}
.form_input{
    width: 50% !important; border: 0;
}

.text-white {
    color: rgb(0, 0, 0); /* Cambia el color del texto a blanco */
}

.form-control {
    background-color: #343a40; /* Color de fondo del input */
    border: 2px solid #ced4da; /* Color del borde */
    border-radius: .2rem;
    padding: 1.5rem 1rem;
    color: white; /* Color del texto */
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Color del texto del placeholder */
}

.form-control:focus {
    background-color: #343a40; /* Mantener el mismo color de fondo al hacer clic */
    color: white; /* Asegurarse de que el texto sea blanco al hacer clic */
    border-color: #ffffff; /* Color del borde al hacer clic */
    outline: none; /* Eliminar el contorno predeterminado */
}