@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.brandd img{
    width: 60px;
    height:60px;
    background-size: cover;
}



.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
   
}

.container{
    
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #bbb;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}

.controls, li, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.controls {
    list-style: none;
    padding: 12px 15px;
}


.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons{
    width: 38%;
}

.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;  
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.container .button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #5372f0;
}

.boton {
    border: none;
    background-color: transparent;
}

footer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
}



/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.brand img{
    width: 60px;
    height:60px;
    background-size: cover;
}




body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #b9caf7;
}

.container {
    width: 690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
    position: relative;
    left: -500px;
    
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #bbb;
    
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 80px 80px;
    float:inline-start;
    
    
}

.controls, li, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.controls {
    list-style: none;
    padding: 12px 15px;
}


.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons{
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons{
    width: 38%;
}

.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;  
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.container .button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #5372f0;
}

.boton {
    border: none;
    background-color: transparent;
}

footer {
    background-color: rgb(24, 156, 183);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
}





body{
    background-color: #eeeeee;
  
    position: relative;
    background-image: linear-gradient(#f4f4f410, #90797998 100%), url(../img/traductor/macaw-g26dcb0eb7_1280-1home.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}



.icono-itp {
    border-radius: 10%;
}

.bg-navar{
    background: #fff !important;
    position: fixed;
    z-index: 100;
    width: 100%;
       
}


.bg-white{
    background-color:#393e46;
    position:fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #fdbb2d;

}


.Header{
    height: 800px;
    width: 80%;
}


.navbar{
    background: linear-gradient(160deg, #32e0f0 0%, #6ced2c 100%);
}


.bg-dark{
    background-color: #393e46 !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.bg-dark1{
    background-color:#3562a9;
    position:fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #fdbb2d;

}

.btn-sucess {
     
    background-color:#ff0404;

}

.container-fluid{
    width: 30%;
    height: 11vh;
  


}

.navbar-nav{
    width: 345%;
    

    color: #393e46;
    position: relative;top: -40px; left: -40px;
    text-decoration:none;
    
    

}

.navbar-nav,a{
    text-decoration:none;
    color: #000000;
    font-family: 'Montserrat';
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 900;
    opacity: 90%;
    word-spacing: 0.25em;
    

    
    
  
    

}
/*para sombrearel clic del los link*/
.navbar a:hover{
    background: linear-gradient(180deg, #0c29ce 0%, #32d5b2 100%);
    border-radius: 1%;
}

/*CALIFICATIVO DE ESTRELLA*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  .rating > input {
    display: none;
  }
  .rating > label:before {
    content: "\2605";
    font-size: 30px;
    padding: 5px;
    color: #524848;
    cursor: pointer;
  }
  .rating > input:checked ~ label:before {
    color: #ffca08;
  }

  /* boton para calificar */

  .container .buttonn{
    
    width: 30%;
    padding: 1px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #d73bd2;
    color: rgb(255, 255, 255);
    position:absolute;
        left: 35%;
        top: 89%
      
        ;
}

/*flechas para cambiar de lenguaje*/
.exchange{
    position:absolute;
    left: 48%;
    top: 66%;
    background: #e8e1e7;
    border-radius: 30px;
    padding: 5px;
    
}
