{% extends 'base_html/base.html' %}


{% block titulo %}
Traductor
{% endblock %}



{%block contenido %}
<form action="{{url_for('texto')}}" enctype="" method="POST">
    <div class="container">
        <div class="wrapper">
            <div class="text-input">
                <!--<input class="from-text" type="text" placeholder="Escribir texto">
            <input class="to-text" type="text" placeholder="Traduccion" readonly disabled>-->
                <textarea class="from-text" name="texto_entrada" id="texto_entrada"
                    placeholder="Escribir texto">{{texto_entrada}}</textarea>
                <textarea class="to-text" name="texto_salida" id="texto_salida" placeholder="Traducción" readonly
                    disabled>{{texto_salida}}</textarea>
            </div>
            <ul class="controls">
                <li class="row from">
                    <div class="icons">
                        <i class="fas fa-volume-up"></i>
                    </div>
                    <select>
                        <option value="">Español</option>
                    </select>
                </li>
                <li class="exchange">
                    <i class="fas fa-exchange-alt"></i>
                </li>
                <li class="row to">
                    <select>
                        <option value="">Inga</option>
                    </select>
                    <div class="icons">
                        <button class="boton" type="submit" id="voice" formaction="{{url_for('audio', texto_salida=texto_salida, texto_entrada=texto_entrada)}}"><i class="fas fa-volume-up"></i></button>
                    </div>
                </li>
            </ul>

        </div>
        <input class="button" type="submit" value="Traduccir texto">
    </div>
</form>

{% endblock %}