{% extends 'menu/categorias.html' %}
{% block modal %}
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar frase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form action="" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="flash">
                        <p class="card-text text-center">
                            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                            {% if messages %}
                        <ul class="alert alert-danger text-center">
                            {% for message in messages %}
                            <li style="padding-left: 5px; list-style: none;"><small>{{message}}</small></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["bueno"]) %}
                        {% if messages %}
                        <ul class="alert alert-success text-center">
                            {% for message in messages %}
                            <li style="padding-left: 5px; list-style: none;"><small>{{message}}</small></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">frase en español:</label>
                        <input type="text" class="form-control" name="frase" id="recipient-name" value="{{frase}}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Traducción:</label>
                        <input type="text" class="form-control" name="traduccion" id="recipient-name" value="{{traduccion}}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">imagen:</label>
                        <input class="form-control" type="file" name="imagen" value="{{imagen}}">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                    <button type="submit" formaction="{{url_for('editar_frase', id_frase=id_frase,id=id,nombre=nombre)}}" class="btn btn-primary">Editar</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        console.log("hola")
        $("#exampleModal1").modal("show")
    })
</script>

{% endblock %}