{% extends 'base_html/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css')}}">
{% endblock %}

{% block titulo %}
Menu
{% endblock %}


{%block contenido %}


<nav class="navbar navbar-expand-lg bg-navar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <label for="" class="brandd">
        <img class="icono_itp" src="/static/img/menu/Logo_ITP.jpg">
      </label>
      <div class="navbar-nav d-flex justify-content-center w-100">
        <h4>MENU CATEGORIAS</h4>
      </div>
      <div class="navbar-nav nav-flex-icons">
        <div class="dropdown">
          <button class="btn btn-bd-secondary dropdown-toggle" type="button" id="menu" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-display="static">
            {{nombre}} &nbsp; {{rol}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menu" data-bs-popper="static">
            {% if session['rol'] == 'admin' %}
            <li><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@getbootstrap"
              class="perfilid dropdown-item" data-id="{{id}}" href="#">Perfil</a></li>
            <li><a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"
                class="dropdown-item" href="#">Agregar categoria</a></li>
            <li><a type="button" class="dropdown-item" href="{{ url_for('verificacionContribuyente') }}">Verificacion de
                contribucciones</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{{ url_for('exit') }}">Salir</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>

<div class="">
  <h2><a href=""><i class="fas fa-arrow-left"
        style="color: rgba(255, 255, 255, 0); margin: 20px; margin-top: 20px; "></i></a>
      
        <a href="{{url_for('calificativo')}}" class="mi-boton">Califica Palabras</a>
        
  </h2>
  <br>
  
    
</div>

<div class="container">
  <br>
  <div class="flash">
    <p class="card-text text-center">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
      {% if messages %}
    <ul class="alert alert-danger text-center">
      {% for message in messages %}
      <li style="padding-left: 5px; list-style: none;"><small>{{message}}</small></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["verificacion"]) %}
    {% if messages %}
    <ul class="alert alert-warning text-center">
      {% for message in messages %}
      <li style="padding-left: 5px; list-style: none;"><small>{{message}}</small></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["bueno"]) %}
    {% if messages %}
    <ul class="alert alert-success text-center">
      {% for message in messages %}
      <li style="padding-left: 5px; list-style: none;"><small>{{message}}</small></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
  </div>
  <div class="row row-cols-1 row-cols-md-4 text-dark">
    {% for categoria in categorias %}
    <div class="col p-2">
      <div class="card">
        {% if session['rol'] == 'admin' %}
        <div class="btn-group dropleft my-1 mr-2" style="display: flex; ">
          <i class="fa fa-bars py-1 ml-2" aria-hidden="true" style="width: 20px; height: 20px; font-size:20px"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1" data-bs-popper="static">

            <li><a class="categoriaid dropdown-item" data-idcatergoria="{{categoria[0]}}" data-id="{{id}}"
                data-rol="{{rol}}">Editar</a></li>

            <li><a class="dropdown-item"
                href="{{url_for('eliminar_categoria', id_categoria=categoria[0])}}">Eliminar</a></li>
          </ul>
        </div>
        {% endif %}
        <img src="/static/img/categorias/{{categoria[2]}}" class="card-img-top" style=" height: 215px;">
        <div class="card-body">
          <center><a type="button" class="btn btn-danger"
              href="{{ url_for('frases', id=categoria[0], nombre=categoria[1])}}">{{categoria[1]}}</a></center>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{{url_for('crear_categoria')}}" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="recipient-name">
          </div>
          <div class="form-group">
            <label class="col-form-label">imagen:</label>
            <input class="form-control" type="file" name="imagen">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" enctype="multipart/form-data" method="post">
        <div class="modal-body">
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <style type="text/css">
        html {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
            line-height: 1.4;
        }
    
    
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    
        body {
            color: #404040;
            font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
        }
    
    
        .seccion-perfil-usuario .perfil-usuario-body,
        .seccion-perfil-usuario {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    
        .seccion-perfil-usuario .perfil-usuario-header {
            width: 100%;
            display: flex;
            justify-content: center;
            background: linear-gradient(#6cff23e7, transparent);
            margin-bottom: 1.25rem;
        }
    
        .seccion-perfil-usuario .perfil-usuario-portada {
            display: block;
            position: relative;
            width: 90%;
            height: 17rem;
            background-image: linear-gradient(45deg, #0a020f, #317FFF);
            border-radius: 0 0 20px 20px;
    
            background-image: url('https://img.freepik.com/fotos-premium/fondo-cielo-al-atardecer_34142-817.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
        }
    
        .seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border: 0;
            border-radius: 8px;
            padding: 12px 25px;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            cursor: pointer;
        }
    
        .seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
            margin-right: 1rem;
        }
    
        .seccion-perfil-usuario .perfil-usuario-avatar {
            display: flex;
            width: 180px;
            height: 180px;
            align-items: center;
            justify-content: center;
            border: 7px solid #FFFFFF;
            background-color: #DFE5F2;
            border-radius: 50%;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);
            position: absolute;
            bottom: -40px;
            left: calc(50% - 90px);
            z-index: 1;
        }
    
        .seccion-perfil-usuario .perfil-usuario-avatar img {
            width: 100%;
            position: relative;
            border-radius: 50%;
        }
    
        .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
            position: absolute;
            left: -2px;
            top: -2px;
            border: 0;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    
        .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar input[type='file'] {
            position: absolute;
            transform: scale(2);
            opacity: 0;
        }
    
        input[type='file']::-webkit-file-upload-button {
            cursor: pointer;
        }
    
        .seccion-perfil-usuario .perfil-usuario-body {
            width: 70%;
            position: relative;
            max-width: 750px;
        }
    
        .seccion-perfil-usuario .perfil-usuario-body .titulo {
            display: block;
            width: 100%;
            font-size: 1.75em;
            margin-bottom: 0.5rem;
        }
    
        .seccion-perfil-usuario .perfil-usuario-body .texto {
            color: #848484;
            font-size: 0.95em;
        }
    
        .seccion-perfil-usuario .perfil-usuario-footer,
        .seccion-perfil-usuario .perfil-usuario-bio {
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem 2rem;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);
            background-color: #fff;
            border-radius: 15px;
            width: 100%;
        }
    
        .seccion-perfil-usuario .perfil-usuario-bio {
            margin-bottom: 1.25rem;
            text-align: center;
        }
    
        .seccion-perfil-usuario .lista-datos {
            width: 50%;
            list-style: none;
        }
    
        .seccion-perfil-usuario .lista-datos li {
            padding: 5px 0;
        }
    
        .seccion-perfil-usuario .lista-datos li>.icono {
            margin-right: 1rem;
            font-size: 1.2rem;
            vertical-align: middle;
        }
    
        .seccion-perfil-usuario .redes-sociales {
            position: absolute;
            right: calc(0px - 50px - 1rem);
            top: 0;
            display: flex;
            flex-direction: column;
        }
    
        .seccion-perfil-usuario .redes-sociales .boton-redes {
            border: 0;
            background-color: #fff;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, .2);
            font-size: 1.3rem;
        }
    
        .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
            margin-top: .5rem;
        }
    
        .seccion-perfil-usuario .boton-redes.facebook {
            background-color: #5955FF;
        }
    
        .seccion-perfil-usuario .boton-redes.twitter {
            background-color: #35E1BF;
        }
    
        .seccion-perfil-usuario .boton-redes.instagram {
            background: linear-gradient(45deg, #FF2DFD, #40A7FF);
        }
    
        /* adactacion a dispositivos */
        @media (max-width: 750px) {
            .seccion-perfil-usuario .lista-datos {
                width: 100%;
            }
    
            .seccion-perfil-usuario .perfil-usuario-portada,
            .seccion-perfil-usuario .perfil-usuario-body {
                width: 95%;
            }
    
            .seccion-perfil-usuario .redes-sociales {
                position: relative;
                flex-direction: row;
                width: 100%;
                left: 0;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                align-items: center;
                justify-content: center
            }
    
            .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
                margin-left: 1rem;
                margin-top: 0;
            }
    
    
    
        }
    </style>
    <form action="" enctype="multipart/form-data" method="post">
      <div class="modal-body">

      </div>
    </form>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $(".categoriaid").click(function () {
      var idcategoria = $(this).data('idcatergoria');
      var id = $(this).data('id');
      var rol = $(this).data('rol');
      console.log(idcategoria + " " + id + " " + rol)

      $.ajax({
        url: '/ajaxmenu',
        type: 'post',
        data: { idcategoria: idcategoria, id: id, rol: rol },
        success: function (data) {
          $('.modal-body').html(data);
          $('.modal-body').append(data.htmlresponse);
          $("#exampleModal1").modal("show");
        }
      })
    })
  })

  $(document).ready(function () {
    $(".perfilid").click(function () {
      var id = $(this).data('id');
      $.ajax({
        url: '/ajaxperfil',
        type: 'post',
        data: { id: id },
        success: function (data) {
          $('.modal-body').html(data);
          $('.modal-body').append(data.htmlresponse);
          $("#exampleModal2").modal("show");
        }
      })
    })
  })

</script>
{% endblock %}
{% block js %}
<script src="https://kit.fontawesome.com/41312000e3.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock %}