{% for usuario in usuario %}

<section class="seccion-perfil-usuario">

    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="/static/img/usuarios/{{usuario[1]}}" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <input type="file" name="imagen_perfil" id="imagen_perfil">
                    <i class="far fa-image"></i>
                </button>
            </div>

            
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">

            <ul class="lista-datos">
                <li>Nombre:</li>
            </ul>
            <ul class="lista-datos">
                <li>
                    <input type="text" name="nombre" id="nombre" value="{{usuario[2]}}" style="outline: none;">
                </li>
            </ul>

        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-building"></i> Rol:</li>
            </ul>
            <ul class="lista-datos">

                <input type="text" name="rol" id="rol" value="{{usuario[3]}}" disabled>

            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-signs"></i> Direccion:</li>

            </ul>
            <ul class="lista-datos">

                <input type="text" name="direccion" id="direccion" value="{{usuario[4]}}">

            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-phone-alt"></i> Telefono:</li>

            </ul>
            <ul class="lista-datos">

                <input type="text" name="telefono" id="telefono" value="{{usuario[5]}}">

            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion:</li>

            </ul>
            <ul class="lista-datos">

                <input type="text" name="ubicacion" id="ubicacion" value="{{usuario[6]}}">

            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-calendar-alt"></i> Nacimiento:</li>
            </ul>
            <ul class="lista-datos">
                <input type="date" name="nacimiento" id="nacimiento" value="{{usuario[7]}}">
            </ul>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-user-check"></i> Registro:</li>
            </ul>
            <ul class="lista-datos">
                <input type="text" value="{{usuario[8]}}" disabled>
            </ul>
        </div>

        <div class="redes-sociales">
            <a href="https://www.facebook.com/" class="boton-redes facebook fab fa-facebook-f"><i
                    class="icon-facebook"></i></a>
            <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"
                class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
            <a href="https://www.instagram.com/" class="boton-redes instagram fab fa-instagram"><i
                    class="icon-instagram"></i></a>
        </div>
        <div>
            <br>
            <button type="submit" formaction="{{url_for('editar_perfil', idperfil=usuario[0])}}"
                style="background-color: greenyellow; border-radius: 5%; border: none; padding: 15px; cursor: pointer;"
                class="">Guardar cambios</button>
            <br>
        </div>
    </div>

</section>



<style>
    .mensaje a {
        color: inherit;
        margin-right: .5rem;
        display: inline-block;
    }

    .mensaje a:hover {
        color: #309B76;
        transform: scale(1.4)
    }
</style>


{% endfor %}