{% for row in frase%}
<div class="form-group">
    <label class="col-form-label">frase en español:</label>
    <input type="text" class="form-control" name="frase" id="recipient-name" value="{{row[1]}}">
</div>
<div class="form-group">
    <label class="col-form-label">Traducción:</label>
    <input type="text" class="form-control" name="traduccion" id="recipient-name" value="{{row[2]}}">
</div>
<div class="form-group">
    <label class="col-form-label">imagen:</label>
    <input class="form-control" type="file" name="imagen" value="{{row[3]}}">
</div>
<hr>

<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
<button type="submit" formaction="{{url_for('editar_frase', id_frase=row[0],id=id,nombre=nombre)}}"
    class="btn btn-primary">Editar</button>

{% endfor %}