<!DOCTYPE html>
<html>
<head>
  <title>Tabla con Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/calificativo.css')}}">
 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <label for="" class="brand">
          <a href="javascript: history.go(-1)"><img class="icono_itp" src="/static/img/menu/Logo_ITP.jpg"></a>
        </label>
        <div class="navbar-nav d-flex justify-content-center w-100">
          <a class="nav-link" href="">PALABRAS CALIFICADAS</a>
          
        </div>
      </div>
    </div>
  </nav>

  

  <div class="container">
    
    
    <table class="table">
      <thead>
        <tr>
          <th><h5>Español</h5></th>
          <th><h5>Inga</h5></th>
          
          
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h5>John rivera</h5></td>
          <td><h5>hola como estas</h5></td>
          
          
          

        <table class="table">
          <thead>
            <tr>
              
              
              
              <th><h5>Comentarios</h5></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              
              
              
              <td>
                <p><h5>hola como estas bien todo bien</h5></p>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
              </td>
            </tr>
        
        
       
      </tbody>
    </table>

    

   
    
  </div>
</body>
</html>



