{% extends 'base_html/base.html' %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ayuda.css')}}">
{% endblock %}

{% block titulo %}
Ayuda - Traductor Inga-Español
{% endblock %}

{%block contenido %}

<!-- Manual de Usuario Section -->
<section class="py-5">
  <div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center content-section">
        <i class="fas fa-question-circle language-icon"></i>
        <h1>AYUDA</h1>
        <h3>aidachii</h3>
        <hr><br>
        <h2>MANUAL DE USUARIO</h2>
        <p>Para poder manejar a la perfección nuestro traductor sigue las siguientes indicaciones.</p>
      </div>
      
    </div>
    

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/1bienvenida.png" class="card-img-top" alt="Bienvenida">
          <div class="card-body">
            <h5 class="card-title">1. Página de Bienvenida</h5>
            <p class="card-text">Al entrar al aplicativo web encontraremos esta vista de bienvenida al traductor
              inga-español, en donde encontraremos las diferentes opciones, a donde podremos ir encontraremos ingresar
              al traductor, acerca del traductor Inga-español la privacidad y las condiciones la ayuda para las
              personas que necesiten el manual de usuario y el respectivo botón de registro.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/2traductor.png" class="card-img-top" alt="Traductor">
          <div class="card-body">
            <h5 class="card-title">2. Interfaz del Traductor</h5>
            <p class="card-text">Al darle clic en el botón ingresar al traductor encontraremos la interfaz del
              traductor donde se encuentran las indicaciones donde debemos poner el texto y nos muestra el botón donde
              debemos oprimir para traducir.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/2_2_3traductor.png" class="card-img-top" alt="Traductor en acción">
          <div class="card-body">
            <h5 class="card-title">3. Uso del Traductor</h5>
            <p class="card-text">En esta página podemos traducir de inga a español y viceversa.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/2_2_traductor.png" class="card-img-top" alt="Ejemplo de traducción">
          <div class="card-body">
            <h5 class="card-title">4. Ejemplo de Traducción</h5>
            <p class="card-text">Este es un ejemplo donde hemos escrito una palabra y en frente se muestra su
              traducción, también podemos ver unos iconos de sonido los cuales al oprimirlos se escuchará como se
              pronuncia la palabra traducida.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/3registro.png" class="card-img-top" alt="Registro de usuario">
          <div class="card-body">
            <h5 class="card-title">5. Registro de Usuario</h5>
            <p class="card-text">Si volvemos a la página principal encontraremos uno de los botones que dice ingresar
              al darle clic en este botón encontraremos una ventana que nos dice registro de usuario, para poder
              registrarnos debemos colocar un nombre para el usuario, un correo electrónico y una contraseña: la
              contraseña debe tener mayúsculas minúsculas y caracteres incluidos números, este correo nos valida un
              token, debemos ingresar al correo electrónico para activar el registro solo debemos darle clic en la
              palabra activar y ya quedaremos registrados.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/4iniciarsesion.png" class="card-img-top" alt="Iniciar sesión">
          <div class="card-body">
            <h5 class="card-title">6. Iniciar Sesión</h5>
            <p class="card-text">Una vez tengamos nuestro usuario validado debemos colocar nuestro correo y
              electrónico y contraseña en los campos que se muestran y debemos darle al botón iniciar sesión.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/5restablecer.png" class="card-img-top" alt="Restablecer contraseña">
          <div class="card-body">
            <h5 class="card-title">7. Restablecer Contraseña</h5>
            <p class="card-text">En caso de haber olvidado la contraseña debemos escribir nuestro correo para
              verificar, en nuestro correo nos llegara una redirección directa para poder escribir una nueva
              contraseña y para que sea validada.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/6menu.png" class="card-img-top" alt="Menú principal">
          <div class="card-body">
            <h5 class="card-title">8. Menú Principal</h5>
            <p class="card-text">Una vez estemos registrados nos redijera a esta página que es el menú donde
              encontraremos las diferentes categorías donde el usuario podrá escoger lo que más le llame la atención.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/7menulista.png" class="card-img-top" alt="Menú de administrador">
          <div class="card-body">
            <h5 class="card-title">9. Menú de Administrador</h5>
            <p class="card-text">Al presionar el botón admin se nos despliega una lista de opciones en donde
              encontraremos las diferentes opciones como agregar una categoría, verificación de contribuciones y salir
              al darle esta última opción es software te re direccionara a la pantalla de bienvenida.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/8frases.png" class="card-img-top" alt="Frases comunes">
          <div class="card-body">
            <h5 class="card-title">10. Frases Comunes</h5>
            <p class="card-text">Al darle clic en una categoría por ejemplo trabajo nos llevara a esta ventana donde
              veremos las principales frases comunes en español y en inga.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/9fraseopciones.png" class="card-img-top" alt="Opciones de frases">
          <div class="card-body">
            <h5 class="card-title">11. Opciones de Frases</h5>
            <p class="card-text">En la parte superior izquierda encontraremos otra lista desplegable con la opción de
              agregar una nueva fase a la interfaz.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/10editar.png" class="card-img-top" alt="Editar frases">
          <div class="card-body">
            <h5 class="card-title">12. Editar Frases</h5>
            <p class="card-text">Cada frase tiene la opción de ser editada y eliminada.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/11crearcategoria.png" class="card-img-top" alt="Crear categoría">
          <div class="card-body">
            <h5 class="card-title">13. Crear Categoría</h5>
            <p class="card-text">Interfaz para crear una nueva categoría en el traductor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/12editarcategoria.png" class="card-img-top" alt="Editar categoría">
          <div class="card-body">
            <h5 class="card-title">14. Editar Categoría</h5>
            <p class="card-text">Interfaz de editar la categoría existente.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/13editarfrase.png" class="card-img-top" alt="Editar frase">
          <div class="card-body">
            <h5 class="card-title">15. Editar Frase</h5>
            <p class="card-text">Interfaz para editar frases existentes en el traductor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/14crearfrase.png" class="card-img-top" alt="Crear frase">
          <div class="card-body">
            <h5 class="card-title">16. Crear Frase</h5>
            <p class="card-text">Interfaz para la creación de una nueva frase en el traductor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/15verificacion.png" class="card-img-top" alt="Verificación de contribuciones">
          <div class="card-body">
            <h5 class="card-title">17. Verificación de Contribuciones</h5>
            <p class="card-text">Por último, cuando el usuario hace una contribución este es la interfaz que se
              muestra, pero solo el administrador puede confirmarlas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/16acerca.png" class="card-img-top" alt="Acerca del traductor">
          <div class="card-body">
            <h5 class="card-title">18. Acerca del Traductor</h5>
            <p class="card-text">Al volver a la pantalla de inicio y al darle sobre el botón acerca del traductor
              encontraremos de que se trata nuestro software, con qué fin lo hicimos y unas breves indicaciones para
              navegar por nuestro traductor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/17privacidad.png" class="card-img-top" alt="Privacidad y condiciones">
          <div class="card-body">
            <h5 class="card-title">19. Privacidad y Condiciones</h5>
            <p class="card-text">Al inicio junto a nuestro botón acerca del traductor encontraremos el botón de
              privacidad y condiciones el cual nos muestra las políticas de privacidad y las condiciones de la
              empresa.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="/static/img/ayuda/18ayuda.png" class="card-img-top" alt="Ayuda">
          <div class="card-body">
            <h5 class="card-title">20. Ayuda</h5>
            <p class="card-text">En la interfaz principal también encontramos el botón de ayuda al darle clic sobre
              este encontraremos el manual de usuario donde los usuarios podrán guiarse para poder tener una
              experiencia más interactiva.</p>
          </div>
        </div>
      </div>

    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}