{% extends 'base_html/base.html' %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css')}}">
{% endblock %}

{% block titulo %}
Acerca del traductor Inga-Español
{% endblock %}

{%block contenido %}
<!-- Hero Section -->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 100px;">
      <div class="col-md-10 text-center content-section">
        <i class="fas fa-language language-icon"></i>
        <h1>CONECTANDO IDIOMAS</h1>
        <h2>¿DE QUE SE TRATA EL TRADUCTOR INGA-ESPAÑOL?</h2>
        <p>Se realizó este traductor para la comunidad en general con el objetivo de poder conectar a las personas que
          dominan la lengua inga y las personas que dominan la lengua hispana para poder entendernos más fácilmente,
          es un traductor con fines educativos para aprender la riqueza del léxico de nuestras culturas.</p>
        <p>Con el traductor inga-español los usuarios podrán traducir palabras comunes y podrán escuchar la
          pronunciación de cada palabra también podrán registrarse a través de correo electrónico y una vez estén
          registrados podrán entrar al menú donde van a encontrar algunas categorías con las frases más comunes de la
          lengua inga y su traducción en español.</p>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-10 text-center content-section">
        <h2>INDICACIONES</h2>
        <ol class="text-start">
          <li>Traduce palabras fácilmente.</li>
          <li>Registrate con tu correo y contraseña.</li>
          <li>Escoge alguna categoría de nuestro Menú.</li>
          <li>Aprende las frases más comunes de nuestros idiomas.</li>
          <li>Revisa nuestras políticas de privacidad y condiciones.</li>
          <li>Si necesitas ayuda lee nuestro manual de usuario.</li>
        </ol>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-10 content-section">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/1traductor.png" alt="Traductor" class="img-fluid gallery-img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/2registro.png" alt="Registro" class="img-fluid gallery-img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/3menu.png" alt="Menú" class="img-fluid gallery-img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/4frases.png" alt="Frases" class="img-fluid gallery-img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/5privacidad.png" alt="Privacidad" class="img-fluid gallery-img">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <img src="/static/img/acerca_traductor/6manual.png" alt="Manual" class="img-fluid gallery-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

